html {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: #C5CCD3;
    color: #364652;
    font-family: 'Poppins', sans-serif;
    margin-top: 7%;
}

.menuItem {
    list-style-type: none;
    text-align: center;
    margin-right: 5%;
    display: inline;
    /*background-color: #77867F;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;*/
}

#currentPageDisplay {
    text-decoration: underline;
    font-weight: bold;
}

.link:hover {
    font-weight: bold;
}

#navTitle {
    margin-bottom: -15px;
}

a {
    text-decoration: none;
    color: #364652;
}

#background {
    background-color: #C7DBE6;
    width: 491px;
    display: inline-block;
    border-radius: 15px;
}

.textInput {
    font-family: 'Poppins', sans-serif;
    color: #364652;
    background-color: #B5BEC6;
    font-weight: bold;
    text-align: center;
    width: 80px;
}

#button {
    font-family: 'Poppins', sans-serif;
    color: #364652;
    background-color: #B5BEC6;
    font-weight: bold;
    text-align: center;
    width: 100px;
}

.textLabel {
    display:inline-block;
    width: 35%;
    margin-right:30px;
    text-align: right;
}

#form {
    border: none;
    width: 500px;
    margin: 0px auto;
}

#version {
    font-size: 15px;
    letter-spacing: 2px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

#changelog {
    text-align: left;
}

.cltitle {
    font-weight: bold;
}

#title {
    margin-bottom: 0%;
}

#subtitle {
    margin-top: 0%;
}

@media screen and (max-width:450px) {
    footer {
        margin-left: 30%;
    }
}
